{% extends 'checkbook_base.html' %}
{% block title %}Balance Sheet{% end block %}

{% block content %}
<div id="all-transactions-form">
    <form>
        <br>
        <label>Account Holder:</label>
        <input id="accountholder" type="text" name="accountHolder" value="{{ account.first_name }} {{ account.last_name }}" readonly><br><br>

        <label>Current Balance:</label>
        <input id="balance" type="text" name="currentBalance" value="${{ current_balance|floatformat:2 }}" readonly>

        <button type="button">
            <a href="{% url 'add_transaction' account.id %}">Add Transaction+</a>
        </button>
    </form>
    <br><br>
</div>

<h2>RECENT TRANSACTIONS</h2>

<table class="table table-responsive" id="transactions-table">
    <tr id="headerRow">
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>
    {% for t in transactions %}
        <tr>
            <td class="center">{{ t.date }}</td>
            <td class="center">{{ t.type }}</td>
            <td class="left">{{ t.description }}</td>
            <td class="right">${{ t.amount|floatformat:2 }}</td>
            <td class="right">${{ t.balance|floatformat:2 }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="5" class="text-center">No transactions yet.</td></tr>
    {% end for %}
</table>
<br><br>
{% end block %}